.task-list-container{
    width: 100%;
    
}
.task-list-container h2{
    color:#5F9EA0;
    margin-left: 8px;
    margin-bottom: 10px;
    
}
.task-list-container .list-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    
}

.min-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    padding-top: 20px;
    
    min-height: 300px;
    border-radius: 5px;
    
}
@media screen and ( max-width:768px){
    .task-list-container .list-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and ( max-width:480px){
    .task-list-container .list-container{
        grid-template-columns: repeat(1,1fr);
    }
}

.task-list-container .list-container .min-container span{
    background-color: white;
    border-radius: 50%;
    color: black;
    padding: 5px;
}
.task-list-container .list-container .min-container h3{
    color: rgb(68, 68, 144);
}
.dark-min-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#2a2a2a;
    padding-top: 20px;
    border: 1px solid #444;
    min-height: 300px;
    border-radius: 5px;
}